{% extends "htmlHeader.html" %}

    {% block content %}

        <a href ="home"><h3>Home</h3></a>
        <a href = "newblogpost"><h3>New blog post</h3></a>
        <form action = '/' method = 'post'>
            <label>
                <div>title</div>
                <input type = "text" name = "title" value = "{{title}}">
            </label>
            <label>
                <div>blogpost</div>
                <textarea  name = "blogpost">{{blogpost}}</textarea>
            </label>
            <div class = "error">{{error}}</div>
            <input type = "submit">
        </form>
    {% endblock %}
